@import 'tailwindcss';

/* 1. 폰트 불러오기 */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/my-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Tailwind v4 테마 변수 등록 */
@theme {
  --font-main: 'MyCustomFont', sans-serif;
  --font-brand: 'BunjangFont', cursive;
}
